{% extends 'base.html.twig' %}

{% block title %}Edition Utilisateur{% endblock %}

{% block body %}
    <section class="page-section">
        <p></p>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <div class="container">
                    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Je modifie mon
                        Profil</h2>
                    <!-- Icon Divider-->
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <div class="form-control bg-secondary text-white">

                        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
